body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* .container {
    max-width: 1000px;
} */

.header, .hero-content {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 200px;
    margin: 0;
}

/* .header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 200px;
    margin: 0;
} */

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 10px;
}

.hero-heading {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 20px;
}

.hero-content {
    padding:  100px 200px 100px 200px;
    gap: 50px;
    margin: 0;
}

.hero-text {
    margin: 0;
}

.hero-button {
    margin-top: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    width: 124px;
    height: 40px;
    border-radius: 8px;
}

.nav-links, .hero-text {
    font-size: 18px;
    color: #E5E7EB
}

.hero-image {
    height: 250px;
}

.featured-image {
    width: 100px;
}

.featured-container {
    display: flex;
    flex-direction: column;
}

.featured-title {
    display: flex;
    align-self: top;
}

.featured-items {
    display: flex;
    flex-direction: row;
    align-self: top;
    gap: 100px;
}